@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --dark: #73846F;
  --medium: #B5BCB0;
  --light: #DBDCD4;
  --text: #261817;
  --background: #F8F4F0;

  /* --primary-start: rgba(115, 132, 111);
  --primary-end: rgba(148, 105, 104);
  --primary-start-transparent: rgba(115, 132, 111, 0.2);
  --primary-end-transparent: rgba(148, 105, 104, 0.2);
  --background: #fcfbf7;
  --foreground: #261817; */

  /* fonts */
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  --font-new-spirit-condensed: "new-spirit-condensed", serif;
  --font-ibm-plex-sans: "IBM Plex Sans", sans-serif;
  --font-eternate: "Eternate", "serif";
  --font-imperial-script: "Imperial Script", "serif";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fcfbf7;
  }
}

html {
  scroll-behavior: smooth;
}

/* text color animation */
@keyframes colorChange {
  0%,
  100% {
    color: var(--primary-start);
  }
  50% {
    color: var(--primary-end);
  }
}
* {
  margin: unset;
}
body {
  font-family: var(--font-geist-sans);
  animation: colorChange 10s infinite ease-in-out;
  background-image: linear-gradient(
      320deg,
      var(--background) 0%,
      var(--primary-start-transparent) 100%
    );
  background-size: cover;
  background-position: center;
  position: relative;
}

/* background color animation */
@keyframes bgFade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.section-bg {
  background-color: var(--background);
  animation: colorChange 10s infinite ease-in-out;
  background-image: linear-gradient(
      320deg,
      var(--background) 0%,
      var(--primary-start-transparent) 100%
    );
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.section-bg::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      320deg,
      var(--background) 0%,
      var(--primary-end-transparent) 100%
    );
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: bgFade 10s infinite ease-in-out;
}

/* positions scroll animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

/* dash line */
.dash-line {
  border-right-width: 2px;
  border-style: solid;
  border-image: repeating-linear-gradient(
      to bottom,
      currentColor 0,
      currentColor 23px,
      transparent 23px,
      transparent 30px
    )
    1 stretch;
}
